<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Port" value ="8001"/>
    <add key ="DataDirCount" value ="2"/>
    <add key ="DataDir1" value =""/>
    <add key ="DataDirShareName1" value =""/>
    <add key ="DataDir2" value =""/>
    <add key ="DataDirShareName2" value =""/>
    <add key ="MaxJobCount" value =""/>
    <!-- In minitues -->
    <add key ="MaximumJobIdleTime" value ="2"/>
  </appSettings>
</configuration>